@font-face {
    font-family: 'moolboranregular';
    src: url('fonts/moolbor_0-webfont.eot');
    src: url('fonts/moolbor_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moolbor_0-webfont.woff') format('woff'),
         url('fonts/moolbor_0-webfont.ttf') format('truetype'),
         url('fonts/moolbor_0-webfont.svg#moolboranregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alluraregular';
    src: url('fonts/allura-regular-webfont.eot');
    src: url('fonts/allura-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/allura-regular-webfont.woff') format('woff'),
         url('fonts/allura-regular-webfont.ttf') format('truetype'),
         url('fonts/allura-regular-webfont.svg#alluraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chiqregular_italic';
    src: url('fonts/chiq_regular_italic-webfont.eot');
    src: url('fonts/chiq_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chiq_regular_italic-webfont.woff') format('woff'),
         url('fonts/chiq_regular_italic-webfont.ttf') format('truetype'),
         url('fonts/chiq_regular_italic-webfont.svg#chiqregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbook';
    src: url('fonts/quicksand_book-webfont.eot');
    src: url('fonts/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_book-webfont.woff') format('woff'),
         url('fonts/quicksand_book-webfont.ttf') format('truetype'),
         url('fonts/quicksand_book-webfont.svg#quicksandbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofiaregular';
    src: url('fonts/sofia-regular-webfont.eot');
    src: url('fonts/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sofia-regular-webfont.woff') format('woff'),
         url('fonts/sofia-regular-webfont.ttf') format('truetype'),
         url('fonts/sofia-regular-webfont.svg#sofiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**{
	border: 1px solid red;
}*/


/*====#  HEADER CLASSES #====*/

.top_nav ul{
	display: none;
}

.menu_mobile_div{
		width: 90%;
		margin-left: 5%;
		border: 2px solid white;
		overflow: hidden;
		border-radius: 15px;
		background: url(../img/menu.png) no-repeat 98% 8px #fff;
		margin-top: 20px;
		margin-bottom: 20px;
}

.menu_mobile{
	width: 107%;
	height: 50px;
	font-size: 1.5em;
	color: #000;
	cursor: pointer;
	padding: 10px;
	border: none;
	background-color: transparent;
}

.header{
	/*height: 300px;*/
	/*border: 1px solid red;*/
}

.log_cont{
	background-color: rgba(255,255,255,0.6);
	width: 100%;
}

.banner_grid{
	/*background-color: rgba(255,255,255,0.6);*/
}

.banner_home{
	background: url(../img/digitando-internet.jpg) no-repeat bottom;
	background-size: 101%;
	height: 100%;
	display: block;
	clear: both;
	/*margin-top: 20px;*/
}

.banner_form{
	background: url(../img/orcamento.jpg) no-repeat bottom;
	background-size: 100%;
}

.banner_ref{
	background: url(../img/handshake2.jpg) no-repeat center;
	background-size: 100%;
}

.banner_quem{
	background: url(../img/quem_somos.jpg) no-repeat bottom;
	background-size: 100%;
}

.banner_contato{
	background: url(../img/digitacao_old.jpg) no-repeat bottom;
	background-size: 100%;
}

.logo{
	width: 33.33%;
	margin-left: 33.33%;
	/*margin-top: 30px;*/
	/*margin-left: 90px;*/
	/* z-index: 99; */
}

.nav_line{
	margin-top: 0;
	background-color: #061951;
	/* z-index: -6; */
	/*height: 50px;*/
	/*border-bottom: 2px solid lightgray;*/
}

/*.top_nav ul{
	padding-left: 0;
	margin-bottom: 10px;
	list-style-type: none;
}

.top_nav li{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	height: 40px;
	background-color: #061951;
	border: 1px solid #fff;
	border-radius: 25px;
	width: 90%;
	margin-left: 5%;
}

.top_nav ul:first-child{
	margin-top: 0;
}*/
.top_nav a{
	text-decoration: none;
	font-family: 'quicksandbook';
	font-size: 2.1em;
	color: #fff;
	font-weight: 100;
	margin: 0;
}

.header h1{
	font-family: 'moolboranregular';
	font-size: 3.5em;
	color: #061951;
	font-weight: 100;
	letter-spacing: 0.045em;
	border-top: 2px solid;
	margin: 5px 15px 0 15px;
	line-height: 1.25em;
	text-align: center;
}

/*=====# MAIN BODY #=====*/

.transcr_title, .trad_title{
	color: rgba(6,25,81,1);
	text-align: center;
	line-height: 0.5em;
	letter-spacing: 0.08em;
}

.transcr_title h2, .trad_title h2{
	font: 2.2em 'chiqregular_italic';
	margin: 0;
}

.trad_title h2{
	padding-right: 20px;
}

.tr_div{
	padding-right: 20px!important;
}

.transcr, .trad{
	padding: 0 25px;
}

.transcr img, .trad img{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	border-radius: 50%;
	margin-left: 10%;
}

.form{
	border-color: #061951 white;
	border-width: 2px;
	border-style: dashed;
	margin-right: 0;
	border-radius: 0;
}

.form_more{
	margin-right: 20px;
}

.orcamento{
	padding: 0;
	margin-top: 30px;
}

.input_txt{
	width: 100%;
	border-radius: 5px;
	line-height: 2em;
	padding-left: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 35px;
}

.lbl{
	font-weight: bold;
}

.btn_orc{
	width: 100%;
}

.btn{
	margin-top: 9px;
	margin-bottom: 20px;
	/*float: right;*/
	width: 100%;
	color: #fff;
	/*font-weight: 700;*/
	font-size: 1.6em;
	line-height: 0.75em;
	/*background-color: #FF9933;*/
	/*background-color: #CC0000;*/
	/*background-color: #e7aead;*/
	/*background-color: #EB6C69;*/
	background-color: #D44040;
	border-radius: 5px;
	border: 0px;
	/*letter-spacing: 0.05em;*/
	padding: 10px;
	box-shadow:  0px 2px 5px 0px #000;
	font-family: 'chiqregular_italic';
}

.btn_form{
	margin-top: 20px;
}

.form h2{
	font: 2em 'sofiaregular';
	color: #061951;
	text-align: center;
	/*font-style: italic;*/
	margin: 0px;
}

/*Tooltip:*/

a.tooltip {
	outline:none; 
	text-decoration: none;
	background-color: #061951;
	color: #fff;
	border-radius: 15px;
	font-weight: bolder;
	padding: 0px 10px;
	/*margin-bottom: 10px;
	margin-top: 10px;*/
	display: inline-block;
	margin-left: 20px;
}

a.tooltip:active {
	text-decoration:none;
} 

a.tooltip span {
    z-index:10;
    display:none; 
    padding:14px 20px;
    margin-top: 0px; 
    margin-left: 0px;
    width:240px; 
    line-height:16px;
}

a.tooltip:active span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

/*.transcr{
	background: url(../img/transcr_transp.png) no-repeat center;
	background-size: 100%;
}

.trad{
	background: url(../img/globo_transp1.png) no-repeat center;
	background-size: 100%;
}*/

.chkbx>label{
	margin-right: 20px;
}

.chkbx{
	margin: 5px 0;
}

.quote{
	margin-top: 20px;
	/*height: 140px;*/
	position: relative;
}

/*.quote:before{
	content: "\"";
	font-size: 25em;
	font-family: 'Allura';
	position: absolute
	top: -125px;
	left: 0px;
	color: lightgray;
	z-index: -1;
}*/

.quote p{
	font: 2em 'alluraregular';
	text-align: left;
	margin: 20px;
	line-height: 0.75em;
}

.footer{
	margin-top: 20px;
	background-color: #061951;
	color: white;	
	height: 50px;
	text-align: right;
}

/*=====# ORCAMENTO #=====*/

.form_trad, .form_transcr , .form_submit, #ref_outro, #tipo_txt_outro{
	display: none;
}

.form_submit input{
	/*float: right;*/
}

.orcamento>div{
	margin-bottom: 30px;
}

.tipo_transcr>label{
	display: block;
}

.usuario_select{
	width: 100%;
}

/*=====# ORCAMENTO #=====*/
.instituicao{
	height: 150px;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 9.2%;
}

.spaf{
	background: url(../img/ufpel.gif) center no-repeat;
	background-size: 82%;
}

.ppgs{
	background: url(../img/ppgs_ufpel1.png) center no-repeat;
}

/*MEDIA QUERIES*/

/*Larger Smartphones and Phablets  ---------- */

@media only screen and (min-width : 500px) and (max-width : 767px) {

	.transcr img, .trad img{
		width: 50%;
		height: 50%;
		margin-left: 25%;
	}	

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {

	.log_cont{
		width: 33.3%;
		margin-left: 66.6%;
	}

	.log_cont h1{
		font-size: 3.2em;
	}

	.logo{
		width: 60%;
		margin-left: 20%;
	}

	.main_cont{
		margin-top: 5%;
	}

	.transcr img, .trad img{
		width: 90%;
		height: 90%;
		margin-left: 5%;
	}

	.orcamento{
		margin-top: 0;
		padding-left: 15px;
		padding-right: 0px;
	}

	.tr_div{
		padding-right: 0!important;
	}

	.quote p{
		font-size: 2.5em;
	}

	.form_more{
		margin-right: 0px;
	}

	a.tooltip{

	}

	.top_nav ul{
	padding-left: 0;
	margin-bottom: 10px;
	list-style-type: none;
	display: block;
	margin-top: 10px;
	margin-left: 20px;
	}

	.top_nav li.act, .top_nav li:hover{
		color: #D44040;
	}

	.menu_mobile_div{
		display: none;
	}

	.menu_mobile{
		display: none;
	}

	.nav_line{
		/*box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);*/
		height: 47px;
	}

	.top_nav{
		width: 100%;
		/*float: right;*/
	}

	.top_nav li{
		display: inline;
		margin-left: 0;
		margin-right: 35px;
		border: none;
		box-shadow: none;
		height: 0;
		margin-top: 5px;
		background-color: transparent;
		border-radius: 0;
	}

	.top_nav a{
		font-size: 1.8em;
	}

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {

	.form_more{
		margin-right: 0px;
	}

	.top_nav ul{
	display: block;
	padding-left: 0;
	margin-bottom: 10px;
	list-style-type: none;
	margin-top: 5px;
	margin-left: 20px;
	}

	.top_nav li.act, .top_nav li:hover{
		color: #D44040;
	}

	.menu_mobile_div{
		display: none;
	}

	.menu_mobile{
		display: none;
	}

	.nav_line{
		/*box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);*/
		height: 47px;
	}

	.top_nav{
		width: 100%;
		/*float: right;*/
	}

	.top_nav li{
		display: inline;
		margin-left: 0;
		margin-right: 35px;
		border: none;
		box-shadow: none;
		height: 0;
		margin-top: 5px;
		background-color: transparent;
		border-radius: 0;
	}

	.top_nav a{
		font-size: 2em;
	}

	.orcamento{
		padding-right: 20px;
	}

	.logo{
		width: 50%;
		margin-left: 25%;
	}

	.log_cont{
		margin-left: 66.6%;
		width: 33.3%;
	}

	.banner_home{
	background: url(../img/digitando-internet.jpg) no-repeat -2px -400px;
	background-size: 101%;
	height: 100%;
	display: block;
	clear: both;
	}

	.header h1{
		font-size: 4.5em;
		margin: 5px 15px -20px 15px;
		line-height: 1.25em;
	}

	.form_cont{
		margin-top: 0;
	}

	.main_cont{
		margin-top: 3.6%;
	}

	.quote{
		margin-top: 2%;
	}

	.top_nav li{
		background-color: none;
		border-radius: none;
	}

	.quote p{
		margin: 0.755%;
		font-size: 2.9em;
		text-align: right;
		line-height: 1.3em;
	}

	.tr_div{
		padding-right: 20px!important;
	}

	.clr_pad{
		padding-right: 0;
	}

}
